.card-note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--fundo-detalhes);
    border-radius: 4px;
    flex-wrap: wrap;
    padding: 10px;
    margin: 8px;
    background-color: white;
  }
  .card-header {
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-text {
    margin-top: 8px;
    font-size: 1em;
  }
  
  .card-title {
    font-size: 1.2em;
    margin-right: 12px;
  }